body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

footer{

            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            display: flex;
            align-items: center;

}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.opinion-container {
    background-color: #fff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info strong {
    font-size: 18px;
}

.reply-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 6px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button, input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #333;
}

.new-page-link {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

.reply-container {
    background-color: #f2f2f2;
    border-radius: 6px;
    padding: 10px;
    margin-top: 5px;
}

.reply {
    margin-left: 20px; /* Indent replies */
}